body{
    background-color: black;
    color: aliceblue;
}
h1{
    color: aliceblue;
}

h2{ 
    color: aliceblue;
}

h3{ 
    color: aliceblue;
}

p{

}

img{

}

ul{
    
}

img{
 width: 10%;
 border: solid 4px rebeccapurple;
}