body{
    background-color: black;
    color: aliceblue;
    font-size: 20px;
    font-family: verdana;
}

h1{
    color: aliceblue;
}

h2{ 
    color: aliceblue;
}

h3{ 
    color: aliceblue;
}

p{

}

img{

}

ul{
    
}

img{
 width: 20%;
 border: solid 4px rebeccapurple;
}